---
layout: default
section_id: about
skills:
  - title: Balayage
    percent: 80
  - title: Hair Extensions
    percent: 72
  - title: Color Technique
    percent: 84
  - title: Makeup
    percent: 70
  - title: Smoothing Treatments
    percent: 61

members:
  - name: Mark Wayne
    position: founder
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/@stock/member-1.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
  - name: Kate Holms
    position: Creative Director
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/@stock/member-2.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-dribbble
        url: http://dribbble.com
  - name: Tom Hason
    position: Designer
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/@stock/member-3.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-tumblr
        url: http://tumblr.com
  - name: Lily Whrem
    position: Developer
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/@stock/member-4.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
clients:
  - images/@stock/client-grey-1.png
  - images/@stock/client-grey-2.png
  - images/@stock/client-grey-3.png
  - images/@stock/client-grey-4.png
  - images/@stock/client-grey-5.png
  - images/@stock/client-grey-6.png

---

<div class='full' style='background: #333'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2 style='color: #fff;'>About Shear Sherrie</h2>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Bio</h3>
      <div class='spacing'></div>
      <p>I'm Shear Sherrie and I am here to help you achieve your dream hair and makeup for any occasion!  I love, love, love what I do and have been a licensed hair & makeup artist for over a decade!</p>
      <p>What I have to offer:</p>
      <p>Hair color - from rich all over tones, highlights, bombshell blondes, Victoria Secret inspired balayage, SoCAP & Perfectress Extensions, trendy hair cuts, blowout styles, heated styles, smoothing treatments, deep conditioning love, men's cuts, facial waxing, and of course traditional & airbrush makeup!</p>
      <p>I work with Channel 5 news anchors, models, weddings, back in the day - RAM's cheerleaders, film, stage work, fitness & bodybuilding shows, magazine work, pageants, and beautiful every day hair!  I strive to stay ahead of the trends in the beauty industry through classes, shows, and experiences so I can offer you the best of the best!</p>
      <p>Thanks for checking out my bio!</p>
      <p>P.S. Yo hablo espanol y me encantaria resevar tu proximo servicio de pelo y maquillaje!</p>
      <p>xo - Shear Sherrie</p>
      <div class='two spacing'></div>
    </div>
    <div class='medium-6 columns'>
      <h3>Most Popular Services</h3>
      <div class='spacing'></div>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percent}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percent}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='two spacing'></div>
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>The team</h3>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in page.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember style-2'>
          <div class='member'>
            <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
            <div class='overlay'>
              <ul class='socials'>
                {% for social in member.socials %}
                  <li>
                    <a href='{{social.url}}'>
                      <i class='{{social.icon_class}}'></i>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <h3>{{member.name}}</h3>
          <p class='position'>{{member.position}}</p>
          <p>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>Our clients</h3>
      <div class='spacing'></div>
      <div class='mod modClients' data-slides_to_show='5'>
        <div class='clients'>
          {% for client in page.clients %}
            <div><img alt="" src="{{client}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
